*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

h1 {
  color: #333;
  justify-content: center;
  display: flex;
  padding-top: 30px;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
}
/* Estilos para el formulario */
#vehicleSection, form {
  margin: 20px auto;
  padding: 20px;
  width: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#vehicleSection {
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #45a049;
}

input[type="text"], input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Mensaje al elegir "No" */
.message {
  font-size: 1.2em;
  color: red;
  text-align: center;
  margin: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilos para el contenedor del resultado */
#result {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
  color: #4caf4fe4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);;
}


